body {
  font-size: 13px;
}

.big1Background {
     background: linear-gradient(
    to right, 
    #ff9e2c 0%, 
    #ff9e2c 50%, 
    #b6701e 50%, 
    #b6701e 100%
  );
}

/* container and pokeball details */
.pokeContainer{
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}


#pokeball {
    width: 10em;
    height: 10em;
    background: #eee;
    border-radius: 50%;
    margin: 0 auto;
    animation: wiggle 2s linear infinite;
    position: relative;
    top: 40%;
}

#pokeball::before {
    content: '';
    background-color: #EE6767;
    border-radius: 5em 5em 0 0;
    width: 10em;
    height: 4.8em;
    position: absolute;
    border-bottom: .4em solid #222;
}

#details {
    height: 2.5em;
    width: 2.5em;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: 3.8em;
    left: 3.7em;
}
#detailcenter {
    height: 1.5em;
    width: 1.5em;
    background: #EE6767;
    position: absolute;
    border-radius: 50%;
    top: 4.25em;
    left: 4.2em;
}

@keyframes wiggle {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-30deg) }
  50% { transform: rotate(25deg) }
  75% {transform: rotate(0deg) }
  100% { transform: rotate(0deg) }
}

.page {
  padding-top: 20vh;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 25vh;
}

.logo {
  padding-bottom: 15px;
}

.search {
  width: 45vw;
  padding: 8px;
  border: 1px solid #d9d9d9;
  background-position: 98.5%;
  background-size: 1.5em;
  border-radius: 10px;
}

.search:hover {
  border: 1px solid #b9b9b9;
  border-top-color: #a0a0a0;
}

.search:focus {
  outline: none;
  border: 1px solid #4d90fe;
}

.Bcontainer {
  text-align: center;
  margin: 0 auto;
  width: 270px;
  padding-top: 20px;
}

.button {
  display: inline-block;
  background: #f2f2f2;
  padding: 8px 12px;
  font-weight: 700;
  font-size: 13px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  color: #757575;
  font-family: arial, sans-serif;
}

.button:hover {
  border: 1px solid #c6c6c6;
  color: #222;
  cursor: pointer;
}

.left {
  float: left;
}

.nav > li > a {
  padding: 0;
  color: #000;
  opacity: .75;
}

.nav > li > .colorfix {
  opacity: 1;
}

.nav>li>a:hover,
.nav>li>a:visited,
.nav>li>a:focus {
  background-color: white;
  text-decoration: underline;
}

.nav-pills {
  margin: 15px 5px;
}

.nav li {
  float: right;
  margin-right: 15px;
}

.firstsbuttons {
  margin-top: 4.5px;
}

.btn,
.btn:active {
  color: white;
  font-weight: 700;
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
  padding: 4px 10.5px;
  border: 1px solid #4285f4;
  border-radius: 2px;
  font-size: 13px;
}

.btn.focus,
.btn:focus,
.btn:hover,
.btn:visited,
.btn:active {
  color: white;
  cursor: default;
}

.nav>li>a>img {
  opacity: .75;
}

.nav>li>a>img:hover {
  opacity: 1;
  cursor: default;
}

footer {
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  max-height: 40px;
  width: 100%;
  padding: 15px 20px 5px 10px;
  margin-bottom: 0;
  clear: both;
  position:absolute;
  bottom:0;
}

.leftone {
  float: left;
}

.rightone {
  float: right;
  padding-right: 0;
}

