body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

html {
  margin: 40px auto;
}
.btn-search {
	  background: #424242;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #1c1c1c;
	}
	.btn-search:link, .btn-search:visited {
	  color: #fff;
	}
	.btn-search:active, .btn-search:hover {
	  background: #1c1c1c;
	  color: #fff;
	}

   .ui-bar {
    padding :5px 0px 5px 0px !important;
    margin :5px 0px 5px 0px !important;
    }

    ​.ui-page .ui-content .ui-listview .ui-li-desc {
    white-space : normal;
    }​

    #pokeDetails {
        position: absolute;
        padding: 40px;
    }

#pokeDetails div.pokemon{
    display: block;
    background-color: black;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.pokeContainer{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

#pokeball {
  width: 10em;
  height: 10em;
  background: #eee;
  border-radius: 50%;
  margin: 0 auto;
  animation: wiggle 2s linear infinite;
}

#pokeball::before {
    content: '';
    background-color: #EE6767;
    border-radius: 5em 5em 0 0;
    width: 10em;
    height: 4.8em;
    position: absolute;
    border-bottom: .4em solid #222;
}

#details {
    height: 2.5em;
    width: 2.5em;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    top: 3.8em;
    left: 3.7em;
}
#detailcenter {
    height: 1.5em;
    width: 1.5em;
    background: #222;
    position: absolute;
    border-radius: 50%;
    top: 4.25em;
    left: 4.2em;
}

@keyframes wiggle {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-30deg) }
  50% { transform: rotate(25deg) }
  75% {transform: rotate(0deg) }
  100% { transform: rotate(0deg) }
}

